<div class="login-container">
  <form class="login-form">
    <md-input-container class="form-container">
      <input mdInput #login placeholder="Login" value="">
    </md-input-container>
    <p>
      <md-input-container class="form-container">
        <input mdInput #password placeholder="Password" value="" type="password">
      </md-input-container>
    </p>
    <span style="color: red">{{message}}</span>
    <a md-raised-button (click)="requestSmsCode()" [hidden]="smsFormAvailable">Request security code</a>
    <form class="sms-validation-form" [hidden]="!smsFormAvailable">
      <md-input-container class="form-container">
        <input mdInput #sms placeholder="SMS code" value="">
      </md-input-container>
      <span style="color: red">{{smsError}}</span>
      <a md-raised-button  (click)="validateSmsCode()">Login</a>
    </form>
  </form>
</div>
