.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.login-form {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.login-form .form-container {
  width: 100%;
}

.login-form a {
  margin-left: auto;
  margin-right: auto;
}
