<div class="older-email-form-container">
  <div class="requested-mail-form">
    <p>
      To access older email's please fill the form below. We'll send you an email confirmation as soon as your archive is ready.
      (It can take up to 72hours.)
    </p>

    <form (ngSubmit)="onSubmit()" #requestedMail="ngForm">
      <div class="form-group">
        <md-input-container>
          <input mdInput id="requestedMailAddress" [(ngModel)]="requestData.requestedMailAddress" name="requestedMailAddress"
                 placeholder="Requested mail address" required>
          <md-error>This field is required</md-error>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container>
          <input mdInput [mdDatepicker]="fromDate" [(ngModel)]="requestData.fromDate" name="fromDate" placeholder="From date" id="fromDate" required>
          <button mdSuffix [mdDatepickerToggle]="fromDate"></button>
          <md-error>This field is required</md-error>
        </md-input-container>
        <md-datepicker #fromDate></md-datepicker>
      </div>
      <div class="form-group">
        <md-input-container>
          <input mdInput [mdDatepicker]="toDate" [(ngModel)]="requestData.toDate" name="toDate" placeholder="To date" id="toDate" required>
          <md-error>This field is required</md-error>
          <button mdSuffix [mdDatepickerToggle]="toDate"></button>
        </md-input-container>
        <md-datepicker #toDate></md-datepicker>
      </div>

      <div class="form-group">
        <md-input-container>
          <input mdInput id="additionalInformation" [(ngModel)]="requestData.additionalInformation" name="additionalInformation"
                 placeholder="Additional information">
        </md-input-container>
      </div>
      <div class="button-container">
        <a class="back-button" (click)="onCancel()">Cancel</a>
        <button class="confirm-button" type="submit" md-raised-button [disabled]="!requestedMail.form.valid">Request data</button>
      </div>

    </form>
  </div>

  <div class="success-message">
    <span>{{successMessage}}</span>
  </div>
  <a class="return-button" routerLink="/Mailboxes" routerLinkActive="active">Back to MailBrowser</a>
    <md-progress-bar
      *ngIf="requestSent"
      class="older-request-progress"
      [color]="color"
      [mode]="mode"
      [value]="value"
      [bufferValue]="bufferValue">
    </md-progress-bar>
</div>
