.requested-mail-form {
  width: 30%
}

.older-email-form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  md-input-container {
    width: 100%;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .confirm-button {
    background-color: #449d44;
  }

  .confirm-button, .back-button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
}

.success-message {
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  span {
    font-size: medium;
    font-weight: bolder;
  }
}

.older-request-progress {
  margin-top: 15px;
}

.button-container {
  display: flex;
  align-items: center;
}
