.pst-folders {
	width: 35%;
    clear: none;
    float: left;
    border: 1px solid lightgray;
    height: 700px;
}
.pst-emails {
	float: left;
    clear: none;
    width: 64%;
    border: 1px solid lightgray;
    min-height: 700px;
}