<div style="width: 100%;display: inline-block;">
	<h1 style="float: left;">{{getFileName()}}</h1>
  <div style="float: right; padding: 10px;">
    <a routerLink="/Mailboxes" class="navigate-button" md-raised-button routerLinkActive="active">Back to Files</a>
  </div>

</div>
<div>
  <div class="pst-folders">
  <h1 style="text-align: center;">Folders</h1>
    <app-pst-folders *ngIf="folder" [subfolders]="folder.subfolders"></app-pst-folders>
  </div>

  <div class="pst-emails">
  	<app-email-list *ngIf="folder" [emails]="mailService.getPstEmails()"></app-email-list>
  </div>
</div>

