<div id="message" style="padding:20px;left;width:400px;line-height: 1.625;">
  <h4 style="-webkit-margin-before: 0.5em;-webkit-margin-after: 0.5em;">
    Title:
    {{message.title}}
  </h4>
  <h4 style="-webkit-margin-before: 0.5em;-webkit-margin-after: 0.5em;">
    To:
    {{message.to}}
  </h4>
  <h4 *ngIf="message.numberOfAttachments != 0" style="-webkit-margin-before: 0.5em;-webkit-margin-after: 0.5em;">
    Attachments:
    <!--  span *ngFor="let n of range(message.numberOfAttachments)">
        <a target="_blank" href="/attachment/{{message.nodeId}}/{{n-1}}">{{n}}</a>
      </span -->
    <span *ngFor="let a of message.attachments; let i = index">
	  	<a target="_blank" (click)=downloadAttachment(message.nodeId,i,a) class="attachment-link">{{a}}</a>
	  </span>
  </h4>
  <br/>
  <br/>
  <div id="messageBody" [innerHTML]="prepareHtml(message.messageBody)"></div>
</div>

<button (click)="printToCart('message')" class="button">Print / Save</button>
