<div *ngIf="subfolders != 0">
      <div id="cover" *ngIf="showCover"></div>
  <ul>
    <li *ngFor="let folder of subfolders">
      <span *ngIf="folder.contentCount == 0">{{folder.name}}  {{folder.contentCount}}</span>
      <a class="emails-link" *ngIf="folder.contentCount > 0" (click)="listEmails(folder.nodeId)">{{folder.name}} {{folder.contentCount}}</a>
      <app-pst-folders *ngIf="subfolders != 0" [subfolders]="folder.subfolders"></app-pst-folders>
    </li>

  </ul>
</div>
