.emails-link {
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}

ul, li {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 12px;
}

a {
 	color: #000080;
 	text-decoration: none;
}
a:hover {
 	color:#0000ff;
 	text-decoration: none;
 	-moz-opacity: 0.8;
 	-khtml-opacity: 0.8;
 	filter:alpha(opacity=80);
 	opacity: 0.8;
}

#cover {
    background: url("/assets/img/spinner.gif") no-repeat scroll center center #FFF;
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:780px !important; /*change to YOUR page height*/
        filter:alpha(opacity=50);
        -moz-opacity:0.3;
        -khtml-opacity: 0.3;
        opacity: 0.3;
        z-index: 998;
}
