<div style="float: left; width: 100%">
  <input
        type='text'
        style='padding:8px;margin:15px auto;width:30%;'
        placeholder='Search emails'
        (keyup)='updateFilter($event)'
      />
  <ngx-datatable
    class="material"
    [rows]="rows"
    [columns]="[{name:'Title'},{name:'Date'}]"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="5"
    [selected]="selected"
    [selectionType]="'single'"
    (select)='onSelect($event)'>
  </ngx-datatable>

  <div *ngIf="currentMessage">
    <app-email-message [message]="currentMessage"></app-email-message>
  </div>

</div>
