<div class="mailboxes-container">
  <span class="controls">
  <a md-raised-button class="navigate-button" routerLink="/ArchivedMail" routerLinkActive="active">Emails older than 180 days</a>
  <a md-raised-button class="link logout-button" (click)="logout()"> Logged as {{username}}</a>
</span>
  <div class="domain-controls">

    <md-checkbox type="checkbox" name="dmgmedia.com" [checked]="dmgmedia" (change)="changeMedia()">dmgmedia.com</md-checkbox>

    <md-checkbox type="checkbox" name="dmg-entertainment.com" [checked]="entertainment" (change)="changeEntertainment()">dmg-entertainment.com</md-checkbox>

    <md-checkbox type="checkbox" name="dmg-cinemas.com<" [checked]="cinemas" (change)="changeCinemas()">dmg-cinemas.com</md-checkbox>

    <input
      type='text'
      style='padding:8px;margin:15px auto;width:30%;'
      placeholder='Search for mailbox...'
      (keyup)='updateFilter($event)'
    />
  </div>


  <div>
    <ngx-datatable class="material"
                   [rows]="rows"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [rowHeight]="50"
                   [columns]="columns"
                   [columnMode]="'flex'"
                   [selected]="selected"
                   [selectionType]="'cell'"
                   (select)="onSelect($event)"
                   (activate)="onActivate($event)"
                   [limit]="10">
    </ngx-datatable>
  </div>

</div>
