.mailboxes-container{
  padding: 15px;
}
.fullscreen {
  height: auto !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.controls{
  float: right;
  padding: 10px;
}
.logout-button {
  background-color: goldenrod;
}

.domain-controls {
  padding: 10px;
}
