/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.link {
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}
.navigate-button {
  background-color: #4183c4;
}
